@font-face {
  font-family: 'QCF_P1';
  src: url('./fonts/QCF_P001.ttf');
}

@font-face {
  font-family: 'QCF_P2';
  src: url('./fonts/QCF_P002.ttf');
}

@font-face {
  font-family: 'QCF_P3';
  src: url('./fonts/QCF_P003.ttf');
}

@font-face {
  font-family: 'QCF_P4';
  src: url('./fonts/QCF_P004.ttf');
}

@font-face {
  font-family: 'QCF_P5';
  src: url('./fonts/QCF_P005.ttf');
}

@font-face {
  font-family: 'QCF_P6';
  src: url('./fonts/QCF_P006.ttf');
}

@font-face {
  font-family: 'QCF_P7';
  src: url('./fonts/QCF_P007.ttf');
}

@font-face {
  font-family: 'QCF_P8';
  src: url('./fonts/QCF_P008.ttf');
}

@font-face {
  font-family: 'QCF_P9';
  src: url('./fonts/QCF_P009.ttf');
}

@font-face {
  font-family: 'QCF_P10';
  src: url('./fonts/QCF_P010.ttf');
}

@font-face {
  font-family: 'QCF_P11';
  src: url('./fonts/QCF_P011.ttf');
}

@font-face {
  font-family: 'QCF_P12';
  src: url('./fonts/QCF_P012.ttf');
}

@font-face {
  font-family: 'QCF_P13';
  src: url('./fonts/QCF_P013.ttf');
}

@font-face {
  font-family: 'QCF_P14';
  src: url('./fonts/QCF_P014.ttf');
}

@font-face {
  font-family: 'QCF_P15';
  src: url('./fonts/QCF_P015.ttf');
}

@font-face {
  font-family: 'QCF_P16';
  src: url('./fonts/QCF_P016.ttf');
}

@font-face {
  font-family: 'QCF_P17';
  src: url('./fonts/QCF_P017.ttf');
}

@font-face {
  font-family: 'QCF_P18';
  src: url('./fonts/QCF_P018.ttf');
}

@font-face {
  font-family: 'QCF_P19';
  src: url('./fonts/QCF_P019.ttf');
}

@font-face {
  font-family: 'QCF_P20';
  src: url('./fonts/QCF_P020.ttf');
}

@font-face {
  font-family: 'QCF_P21';
  src: url('./fonts/QCF_P021.ttf');
}

@font-face {
  font-family: 'QCF_P22';
  src: url('./fonts/QCF_P022.ttf');
}

@font-face {
  font-family: 'QCF_P23';
  src: url('./fonts/QCF_P023.ttf');
}

@font-face {
  font-family: 'QCF_P24';
  src: url('./fonts/QCF_P024.ttf');
}

@font-face {
  font-family: 'QCF_P25';
  src: url('./fonts/QCF_P025.ttf');
}

@font-face {
  font-family: 'QCF_P26';
  src: url('./fonts/QCF_P026.ttf');
}

@font-face {
  font-family: 'QCF_P27';
  src: url('./fonts/QCF_P027.ttf');
}

@font-face {
  font-family: 'QCF_P28';
  src: url('./fonts/QCF_P028.ttf');
}

@font-face {
  font-family: 'QCF_P29';
  src: url('./fonts/QCF_P029.ttf');
}

@font-face {
  font-family: 'QCF_P30';
  src: url('./fonts/QCF_P030.ttf');
}

@font-face {
  font-family: 'QCF_P31';
  src: url('./fonts/QCF_P031.ttf');
}

@font-face {
  font-family: 'QCF_P32';
  src: url('./fonts/QCF_P032.ttf');
}

@font-face {
  font-family: 'QCF_P33';
  src: url('./fonts/QCF_P033.ttf');
}

@font-face {
  font-family: 'QCF_P34';
  src: url('./fonts/QCF_P034.ttf');
}

@font-face {
  font-family: 'QCF_P35';
  src: url('./fonts/QCF_P035.ttf');
}

@font-face {
  font-family: 'QCF_P36';
  src: url('./fonts/QCF_P036.ttf');
}

@font-face {
  font-family: 'QCF_P37';
  src: url('./fonts/QCF_P037.ttf');
}

@font-face {
  font-family: 'QCF_P38';
  src: url('./fonts/QCF_P038.ttf');
}

@font-face {
  font-family: 'QCF_P39';
  src: url('./fonts/QCF_P039.ttf');
}

@font-face {
  font-family: 'QCF_P40';
  src: url('./fonts/QCF_P040.ttf');
}

@font-face {
  font-family: 'QCF_P41';
  src: url('./fonts/QCF_P041.ttf');
}

@font-face {
  font-family: 'QCF_P42';
  src: url('./fonts/QCF_P042.ttf');
}

@font-face {
  font-family: 'QCF_P43';
  src: url('./fonts/QCF_P043.ttf');
}

@font-face {
  font-family: 'QCF_P44';
  src: url('./fonts/QCF_P044.ttf');
}

@font-face {
  font-family: 'QCF_P45';
  src: url('./fonts/QCF_P045.ttf');
}

@font-face {
  font-family: 'QCF_P46';
  src: url('./fonts/QCF_P046.ttf');
}

@font-face {
  font-family: 'QCF_P47';
  src: url('./fonts/QCF_P047.ttf');
}

@font-face {
  font-family: 'QCF_P48';
  src: url('./fonts/QCF_P048.ttf');
}

@font-face {
  font-family: 'QCF_P49';
  src: url('./fonts/QCF_P049.ttf');
}

@font-face {
  font-family: 'QCF_P50';
  src: url('./fonts/QCF_P050.ttf');
}

@font-face {
  font-family: 'QCF_P51';
  src: url('./fonts/QCF_P051.ttf');
}

@font-face {
  font-family: 'QCF_P52';
  src: url('./fonts/QCF_P052.ttf');
}

@font-face {
  font-family: 'QCF_P53';
  src: url('./fonts/QCF_P053.ttf');
}

@font-face {
  font-family: 'QCF_P54';
  src: url('./fonts/QCF_P054.ttf');
}

@font-face {
  font-family: 'QCF_P55';
  src: url('./fonts/QCF_P055.ttf');
}

@font-face {
  font-family: 'QCF_P56';
  src: url('./fonts/QCF_P056.ttf');
}

@font-face {
  font-family: 'QCF_P57';
  src: url('./fonts/QCF_P057.ttf');
}

@font-face {
  font-family: 'QCF_P58';
  src: url('./fonts/QCF_P058.ttf');
}

@font-face {
  font-family: 'QCF_P59';
  src: url('./fonts/QCF_P059.ttf');
}

@font-face {
  font-family: 'QCF_P60';
  src: url('./fonts/QCF_P060.ttf');
}

@font-face {
  font-family: 'QCF_P61';
  src: url('./fonts/QCF_P061.ttf');
}

@font-face {
  font-family: 'QCF_P62';
  src: url('./fonts/QCF_P062.ttf');
}

@font-face {
  font-family: 'QCF_P63';
  src: url('./fonts/QCF_P063.ttf');
}

@font-face {
  font-family: 'QCF_P64';
  src: url('./fonts/QCF_P064.ttf');
}

@font-face {
  font-family: 'QCF_P65';
  src: url('./fonts/QCF_P065.ttf');
}

@font-face {
  font-family: 'QCF_P66';
  src: url('./fonts/QCF_P066.ttf');
}

@font-face {
  font-family: 'QCF_P67';
  src: url('./fonts/QCF_P067.ttf');
}

@font-face {
  font-family: 'QCF_P68';
  src: url('./fonts/QCF_P068.ttf');
}

@font-face {
  font-family: 'QCF_P69';
  src: url('./fonts/QCF_P069.ttf');
}

@font-face {
  font-family: 'QCF_P70';
  src: url('./fonts/QCF_P070.ttf');
}

@font-face {
  font-family: 'QCF_P71';
  src: url('./fonts/QCF_P071.ttf');
}

@font-face {
  font-family: 'QCF_P72';
  src: url('./fonts/QCF_P072.ttf');
}

@font-face {
  font-family: 'QCF_P73';
  src: url('./fonts/QCF_P073.ttf');
}

@font-face {
  font-family: 'QCF_P74';
  src: url('./fonts/QCF_P074.ttf');
}

@font-face {
  font-family: 'QCF_P75';
  src: url('./fonts/QCF_P075.ttf');
}

@font-face {
  font-family: 'QCF_P76';
  src: url('./fonts/QCF_P076.ttf');
}

@font-face {
  font-family: 'QCF_P77';
  src: url('./fonts/QCF_P077.ttf');
}

@font-face {
  font-family: 'QCF_P78';
  src: url('./fonts/QCF_P078.ttf');
}

@font-face {
  font-family: 'QCF_P79';
  src: url('./fonts/QCF_P079.ttf');
}

@font-face {
  font-family: 'QCF_P80';
  src: url('./fonts/QCF_P080.ttf');
}

@font-face {
  font-family: 'QCF_P81';
  src: url('./fonts/QCF_P081.ttf');
}

@font-face {
  font-family: 'QCF_P82';
  src: url('./fonts/QCF_P082.ttf');
}

@font-face {
  font-family: 'QCF_P83';
  src: url('./fonts/QCF_P083.ttf');
}

@font-face {
  font-family: 'QCF_P84';
  src: url('./fonts/QCF_P084.ttf');
}

@font-face {
  font-family: 'QCF_P85';
  src: url('./fonts/QCF_P085.ttf');
}

@font-face {
  font-family: 'QCF_P86';
  src: url('./fonts/QCF_P086.ttf');
}

@font-face {
  font-family: 'QCF_P87';
  src: url('./fonts/QCF_P087.ttf');
}

@font-face {
  font-family: 'QCF_P88';
  src: url('./fonts/QCF_P088.ttf');
}

@font-face {
  font-family: 'QCF_P89';
  src: url('./fonts/QCF_P089.ttf');
}

@font-face {
  font-family: 'QCF_P90';
  src: url('./fonts/QCF_P090.ttf');
}

@font-face {
  font-family: 'QCF_P91';
  src: url('./fonts/QCF_P091.ttf');
}

@font-face {
  font-family: 'QCF_P92';
  src: url('./fonts/QCF_P092.ttf');
}

@font-face {
  font-family: 'QCF_P93';
  src: url('./fonts/QCF_P093.ttf');
}

@font-face {
  font-family: 'QCF_P94';
  src: url('./fonts/QCF_P094.ttf');
}

@font-face {
  font-family: 'QCF_P95';
  src: url('./fonts/QCF_P095.ttf');
}

@font-face {
  font-family: 'QCF_P96';
  src: url('./fonts/QCF_P096.ttf');
}

@font-face {
  font-family: 'QCF_P97';
  src: url('./fonts/QCF_P097.ttf');
}

@font-face {
  font-family: 'QCF_P98';
  src: url('./fonts/QCF_P098.ttf');
}

@font-face {
  font-family: 'QCF_P99';
  src: url('./fonts/QCF_P099.ttf');
}

@font-face {
  font-family: 'QCF_P100';
  src: url('./fonts/QCF_P100.ttf');
}

@font-face {
  font-family: 'QCF_P101';
  src: url('./fonts/QCF_P101.ttf');
}

@font-face {
  font-family: 'QCF_P102';
  src: url('./fonts/QCF_P102.ttf');
}

@font-face {
  font-family: 'QCF_P103';
  src: url('./fonts/QCF_P103.ttf');
}

@font-face {
  font-family: 'QCF_P104';
  src: url('./fonts/QCF_P104.ttf');
}

@font-face {
  font-family: 'QCF_P105';
  src: url('./fonts/QCF_P105.ttf');
}

@font-face {
  font-family: 'QCF_P106';
  src: url('./fonts/QCF_P106.ttf');
}

@font-face {
  font-family: 'QCF_P107';
  src: url('./fonts/QCF_P107.ttf');
}

@font-face {
  font-family: 'QCF_P108';
  src: url('./fonts/QCF_P108.ttf');
}

@font-face {
  font-family: 'QCF_P109';
  src: url('./fonts/QCF_P109.ttf');
}

@font-face {
  font-family: 'QCF_P110';
  src: url('./fonts/QCF_P110.ttf');
}

@font-face {
  font-family: 'QCF_P111';
  src: url('./fonts/QCF_P111.ttf');
}

@font-face {
  font-family: 'QCF_P112';
  src: url('./fonts/QCF_P112.ttf');
}

@font-face {
  font-family: 'QCF_P113';
  src: url('./fonts/QCF_P113.ttf');
}

@font-face {
  font-family: 'QCF_P114';
  src: url('./fonts/QCF_P114.ttf');
}

@font-face {
  font-family: 'QCF_P115';
  src: url('./fonts/QCF_P115.ttf');
}

@font-face {
  font-family: 'QCF_P116';
  src: url('./fonts/QCF_P116.ttf');
}

@font-face {
  font-family: 'QCF_P117';
  src: url('./fonts/QCF_P117.ttf');
}

@font-face {
  font-family: 'QCF_P118';
  src: url('./fonts/QCF_P118.ttf');
}

@font-face {
  font-family: 'QCF_P119';
  src: url('./fonts/QCF_P119.ttf');
}

@font-face {
  font-family: 'QCF_P120';
  src: url('./fonts/QCF_P120.ttf');
}

@font-face {
  font-family: 'QCF_P121';
  src: url('./fonts/QCF_P121.ttf');
}

@font-face {
  font-family: 'QCF_P122';
  src: url('./fonts/QCF_P122.ttf');
}

@font-face {
  font-family: 'QCF_P123';
  src: url('./fonts/QCF_P123.ttf');
}

@font-face {
  font-family: 'QCF_P124';
  src: url('./fonts/QCF_P124.ttf');
}

@font-face {
  font-family: 'QCF_P125';
  src: url('./fonts/QCF_P125.ttf');
}

@font-face {
  font-family: 'QCF_P126';
  src: url('./fonts/QCF_P126.ttf');
}

@font-face {
  font-family: 'QCF_P127';
  src: url('./fonts/QCF_P127.ttf');
}

@font-face {
  font-family: 'QCF_P128';
  src: url('./fonts/QCF_P128.ttf');
}

@font-face {
  font-family: 'QCF_P129';
  src: url('./fonts/QCF_P129.ttf');
}

@font-face {
  font-family: 'QCF_P130';
  src: url('./fonts/QCF_P130.ttf');
}

@font-face {
  font-family: 'QCF_P131';
  src: url('./fonts/QCF_P131.ttf');
}

@font-face {
  font-family: 'QCF_P132';
  src: url('./fonts/QCF_P132.ttf');
}

@font-face {
  font-family: 'QCF_P133';
  src: url('./fonts/QCF_P133.ttf');
}

@font-face {
  font-family: 'QCF_P134';
  src: url('./fonts/QCF_P134.ttf');
}

@font-face {
  font-family: 'QCF_P135';
  src: url('./fonts/QCF_P135.ttf');
}

@font-face {
  font-family: 'QCF_P136';
  src: url('./fonts/QCF_P136.ttf');
}

@font-face {
  font-family: 'QCF_P137';
  src: url('./fonts/QCF_P137.ttf');
}

@font-face {
  font-family: 'QCF_P138';
  src: url('./fonts/QCF_P138.ttf');
}

@font-face {
  font-family: 'QCF_P139';
  src: url('./fonts/QCF_P139.ttf');
}

@font-face {
  font-family: 'QCF_P140';
  src: url('./fonts/QCF_P140.ttf');
}

@font-face {
  font-family: 'QCF_P141';
  src: url('./fonts/QCF_P141.ttf');
}

@font-face {
  font-family: 'QCF_P142';
  src: url('./fonts/QCF_P142.ttf');
}

@font-face {
  font-family: 'QCF_P143';
  src: url('./fonts/QCF_P143.ttf');
}

@font-face {
  font-family: 'QCF_P144';
  src: url('./fonts/QCF_P144.ttf');
}

@font-face {
  font-family: 'QCF_P145';
  src: url('./fonts/QCF_P145.ttf');
}

@font-face {
  font-family: 'QCF_P146';
  src: url('./fonts/QCF_P146.ttf');
}

@font-face {
  font-family: 'QCF_P147';
  src: url('./fonts/QCF_P147.ttf');
}

@font-face {
  font-family: 'QCF_P148';
  src: url('./fonts/QCF_P148.ttf');
}

@font-face {
  font-family: 'QCF_P149';
  src: url('./fonts/QCF_P149.ttf');
}

@font-face {
  font-family: 'QCF_P150';
  src: url('./fonts/QCF_P150.ttf');
}

@font-face {
  font-family: 'QCF_P151';
  src: url('./fonts/QCF_P151.ttf');
}

@font-face {
  font-family: 'QCF_P152';
  src: url('./fonts/QCF_P152.ttf');
}

@font-face {
  font-family: 'QCF_P153';
  src: url('./fonts/QCF_P153.ttf');
}

@font-face {
  font-family: 'QCF_P154';
  src: url('./fonts/QCF_P154.ttf');
}

@font-face {
  font-family: 'QCF_P155';
  src: url('./fonts/QCF_P155.ttf');
}

@font-face {
  font-family: 'QCF_P156';
  src: url('./fonts/QCF_P156.ttf');
}

@font-face {
  font-family: 'QCF_P157';
  src: url('./fonts/QCF_P157.ttf');
}

@font-face {
  font-family: 'QCF_P158';
  src: url('./fonts/QCF_P158.ttf');
}

@font-face {
  font-family: 'QCF_P159';
  src: url('./fonts/QCF_P159.ttf');
}

@font-face {
  font-family: 'QCF_P160';
  src: url('./fonts/QCF_P160.ttf');
}

@font-face {
  font-family: 'QCF_P161';
  src: url('./fonts/QCF_P161.ttf');
}

@font-face {
  font-family: 'QCF_P162';
  src: url('./fonts/QCF_P162.ttf');
}

@font-face {
  font-family: 'QCF_P163';
  src: url('./fonts/QCF_P163.ttf');
}

@font-face {
  font-family: 'QCF_P164';
  src: url('./fonts/QCF_P164.ttf');
}

@font-face {
  font-family: 'QCF_P165';
  src: url('./fonts/QCF_P165.ttf');
}

@font-face {
  font-family: 'QCF_P166';
  src: url('./fonts/QCF_P166.ttf');
}

@font-face {
  font-family: 'QCF_P167';
  src: url('./fonts/QCF_P167.ttf');
}

@font-face {
  font-family: 'QCF_P168';
  src: url('./fonts/QCF_P168.ttf');
}

@font-face {
  font-family: 'QCF_P169';
  src: url('./fonts/QCF_P169.ttf');
}

@font-face {
  font-family: 'QCF_P170';
  src: url('./fonts/QCF_P170.ttf');
}

@font-face {
  font-family: 'QCF_P171';
  src: url('./fonts/QCF_P171.ttf');
}

@font-face {
  font-family: 'QCF_P172';
  src: url('./fonts/QCF_P172.ttf');
}

@font-face {
  font-family: 'QCF_P173';
  src: url('./fonts/QCF_P173.ttf');
}

@font-face {
  font-family: 'QCF_P174';
  src: url('./fonts/QCF_P174.ttf');
}

@font-face {
  font-family: 'QCF_P175';
  src: url('./fonts/QCF_P175.ttf');
}

@font-face {
  font-family: 'QCF_P176';
  src: url('./fonts/QCF_P176.ttf');
}

@font-face {
  font-family: 'QCF_P177';
  src: url('./fonts/QCF_P177.ttf');
}

@font-face {
  font-family: 'QCF_P178';
  src: url('./fonts/QCF_P178.ttf');
}

@font-face {
  font-family: 'QCF_P179';
  src: url('./fonts/QCF_P179.ttf');
}

@font-face {
  font-family: 'QCF_P180';
  src: url('./fonts/QCF_P180.ttf');
}

@font-face {
  font-family: 'QCF_P181';
  src: url('./fonts/QCF_P181.ttf');
}

@font-face {
  font-family: 'QCF_P182';
  src: url('./fonts/QCF_P182.ttf');
}

@font-face {
  font-family: 'QCF_P183';
  src: url('./fonts/QCF_P183.ttf');
}

@font-face {
  font-family: 'QCF_P184';
  src: url('./fonts/QCF_P184.ttf');
}

@font-face {
  font-family: 'QCF_P185';
  src: url('./fonts/QCF_P185.ttf');
}

@font-face {
  font-family: 'QCF_P186';
  src: url('./fonts/QCF_P186.ttf');
}

@font-face {
  font-family: 'QCF_P187';
  src: url('./fonts/QCF_P187.ttf');
}

@font-face {
  font-family: 'QCF_P188';
  src: url('./fonts/QCF_P188.ttf');
}

@font-face {
  font-family: 'QCF_P189';
  src: url('./fonts/QCF_P189.ttf');
}

@font-face {
  font-family: 'QCF_P190';
  src: url('./fonts/QCF_P190.ttf');
}

@font-face {
  font-family: 'QCF_P191';
  src: url('./fonts/QCF_P191.ttf');
}

@font-face {
  font-family: 'QCF_P192';
  src: url('./fonts/QCF_P192.ttf');
}

@font-face {
  font-family: 'QCF_P193';
  src: url('./fonts/QCF_P193.ttf');
}

@font-face {
  font-family: 'QCF_P194';
  src: url('./fonts/QCF_P194.ttf');
}

@font-face {
  font-family: 'QCF_P195';
  src: url('./fonts/QCF_P195.ttf');
}

@font-face {
  font-family: 'QCF_P196';
  src: url('./fonts/QCF_P196.ttf');
}

@font-face {
  font-family: 'QCF_P197';
  src: url('./fonts/QCF_P197.ttf');
}

@font-face {
  font-family: 'QCF_P198';
  src: url('./fonts/QCF_P198.ttf');
}

@font-face {
  font-family: 'QCF_P199';
  src: url('./fonts/QCF_P199.ttf');
}

@font-face {
  font-family: 'QCF_P200';
  src: url('./fonts/QCF_P200.ttf');
}

@font-face {
  font-family: 'QCF_P201';
  src: url('./fonts/QCF_P201.ttf');
}

@font-face {
  font-family: 'QCF_P202';
  src: url('./fonts/QCF_P202.ttf');
}

@font-face {
  font-family: 'QCF_P203';
  src: url('./fonts/QCF_P203.ttf');
}

@font-face {
  font-family: 'QCF_P204';
  src: url('./fonts/QCF_P204.ttf');
}

@font-face {
  font-family: 'QCF_P205';
  src: url('./fonts/QCF_P205.ttf');
}

@font-face {
  font-family: 'QCF_P206';
  src: url('./fonts/QCF_P206.ttf');
}

@font-face {
  font-family: 'QCF_P207';
  src: url('./fonts/QCF_P207.ttf');
}

@font-face {
  font-family: 'QCF_P208';
  src: url('./fonts/QCF_P208.ttf');
}

@font-face {
  font-family: 'QCF_P209';
  src: url('./fonts/QCF_P209.ttf');
}

@font-face {
  font-family: 'QCF_P210';
  src: url('./fonts/QCF_P210.ttf');
}

@font-face {
  font-family: 'QCF_P211';
  src: url('./fonts/QCF_P211.ttf');
}

@font-face {
  font-family: 'QCF_P212';
  src: url('./fonts/QCF_P212.ttf');
}

@font-face {
  font-family: 'QCF_P213';
  src: url('./fonts/QCF_P213.ttf');
}

@font-face {
  font-family: 'QCF_P214';
  src: url('./fonts/QCF_P214.ttf');
}

@font-face {
  font-family: 'QCF_P215';
  src: url('./fonts/QCF_P215.ttf');
}

@font-face {
  font-family: 'QCF_P216';
  src: url('./fonts/QCF_P216.ttf');
}

@font-face {
  font-family: 'QCF_P217';
  src: url('./fonts/QCF_P217.ttf');
}

@font-face {
  font-family: 'QCF_P218';
  src: url('./fonts/QCF_P218.ttf');
}

@font-face {
  font-family: 'QCF_P219';
  src: url('./fonts/QCF_P219.ttf');
}

@font-face {
  font-family: 'QCF_P220';
  src: url('./fonts/QCF_P220.ttf');
}

@font-face {
  font-family: 'QCF_P221';
  src: url('./fonts/QCF_P221.ttf');
}

@font-face {
  font-family: 'QCF_P222';
  src: url('./fonts/QCF_P222.ttf');
}

@font-face {
  font-family: 'QCF_P223';
  src: url('./fonts/QCF_P223.ttf');
}

@font-face {
  font-family: 'QCF_P224';
  src: url('./fonts/QCF_P224.ttf');
}

@font-face {
  font-family: 'QCF_P225';
  src: url('./fonts/QCF_P225.ttf');
}

@font-face {
  font-family: 'QCF_P226';
  src: url('./fonts/QCF_P226.ttf');
}

@font-face {
  font-family: 'QCF_P227';
  src: url('./fonts/QCF_P227.ttf');
}

@font-face {
  font-family: 'QCF_P228';
  src: url('./fonts/QCF_P228.ttf');
}

@font-face {
  font-family: 'QCF_P229';
  src: url('./fonts/QCF_P229.ttf');
}

@font-face {
  font-family: 'QCF_P230';
  src: url('./fonts/QCF_P230.ttf');
}

@font-face {
  font-family: 'QCF_P231';
  src: url('./fonts/QCF_P231.ttf');
}

@font-face {
  font-family: 'QCF_P232';
  src: url('./fonts/QCF_P232.ttf');
}

@font-face {
  font-family: 'QCF_P233';
  src: url('./fonts/QCF_P233.ttf');
}

@font-face {
  font-family: 'QCF_P234';
  src: url('./fonts/QCF_P234.ttf');
}

@font-face {
  font-family: 'QCF_P235';
  src: url('./fonts/QCF_P235.ttf');
}

@font-face {
  font-family: 'QCF_P236';
  src: url('./fonts/QCF_P236.ttf');
}

@font-face {
  font-family: 'QCF_P237';
  src: url('./fonts/QCF_P237.ttf');
}

@font-face {
  font-family: 'QCF_P238';
  src: url('./fonts/QCF_P238.ttf');
}

@font-face {
  font-family: 'QCF_P239';
  src: url('./fonts/QCF_P239.ttf');
}

@font-face {
  font-family: 'QCF_P240';
  src: url('./fonts/QCF_P240.ttf');
}

@font-face {
  font-family: 'QCF_P241';
  src: url('./fonts/QCF_P241.ttf');
}

@font-face {
  font-family: 'QCF_P242';
  src: url('./fonts/QCF_P242.ttf');
}

@font-face {
  font-family: 'QCF_P243';
  src: url('./fonts/QCF_P243.ttf');
}

@font-face {
  font-family: 'QCF_P244';
  src: url('./fonts/QCF_P244.ttf');
}

@font-face {
  font-family: 'QCF_P245';
  src: url('./fonts/QCF_P245.ttf');
}

@font-face {
  font-family: 'QCF_P246';
  src: url('./fonts/QCF_P246.ttf');
}

@font-face {
  font-family: 'QCF_P247';
  src: url('./fonts/QCF_P247.ttf');
}

@font-face {
  font-family: 'QCF_P248';
  src: url('./fonts/QCF_P248.ttf');
}

@font-face {
  font-family: 'QCF_P249';
  src: url('./fonts/QCF_P249.ttf');
}

@font-face {
  font-family: 'QCF_P250';
  src: url('./fonts/QCF_P250.ttf');
}

@font-face {
  font-family: 'QCF_P251';
  src: url('./fonts/QCF_P251.ttf');
}

@font-face {
  font-family: 'QCF_P252';
  src: url('./fonts/QCF_P252.ttf');
}

@font-face {
  font-family: 'QCF_P253';
  src: url('./fonts/QCF_P253.ttf');
}

@font-face {
  font-family: 'QCF_P254';
  src: url('./fonts/QCF_P254.ttf');
}

@font-face {
  font-family: 'QCF_P255';
  src: url('./fonts/QCF_P255.ttf');
}

@font-face {
  font-family: 'QCF_P256';
  src: url('./fonts/QCF_P256.ttf');
}

@font-face {
  font-family: 'QCF_P257';
  src: url('./fonts/QCF_P257.ttf');
}

@font-face {
  font-family: 'QCF_P258';
  src: url('./fonts/QCF_P258.ttf');
}

@font-face {
  font-family: 'QCF_P259';
  src: url('./fonts/QCF_P259.ttf');
}

@font-face {
  font-family: 'QCF_P260';
  src: url('./fonts/QCF_P260.ttf');
}

@font-face {
  font-family: 'QCF_P261';
  src: url('./fonts/QCF_P261.ttf');
}

@font-face {
  font-family: 'QCF_P262';
  src: url('./fonts/QCF_P262.ttf');
}

@font-face {
  font-family: 'QCF_P263';
  src: url('./fonts/QCF_P263.ttf');
}

@font-face {
  font-family: 'QCF_P264';
  src: url('./fonts/QCF_P264.ttf');
}

@font-face {
  font-family: 'QCF_P265';
  src: url('./fonts/QCF_P265.ttf');
}

@font-face {
  font-family: 'QCF_P266';
  src: url('./fonts/QCF_P266.ttf');
}

@font-face {
  font-family: 'QCF_P267';
  src: url('./fonts/QCF_P267.ttf');
}

@font-face {
  font-family: 'QCF_P268';
  src: url('./fonts/QCF_P268.ttf');
}

@font-face {
  font-family: 'QCF_P269';
  src: url('./fonts/QCF_P269.ttf');
}

@font-face {
  font-family: 'QCF_P270';
  src: url('./fonts/QCF_P270.ttf');
}

@font-face {
  font-family: 'QCF_P271';
  src: url('./fonts/QCF_P271.ttf');
}

@font-face {
  font-family: 'QCF_P272';
  src: url('./fonts/QCF_P272.ttf');
}

@font-face {
  font-family: 'QCF_P273';
  src: url('./fonts/QCF_P273.ttf');
}

@font-face {
  font-family: 'QCF_P274';
  src: url('./fonts/QCF_P274.ttf');
}

@font-face {
  font-family: 'QCF_P275';
  src: url('./fonts/QCF_P275.ttf');
}

@font-face {
  font-family: 'QCF_P276';
  src: url('./fonts/QCF_P276.ttf');
}

@font-face {
  font-family: 'QCF_P277';
  src: url('./fonts/QCF_P277.ttf');
}

@font-face {
  font-family: 'QCF_P278';
  src: url('./fonts/QCF_P278.ttf');
}

@font-face {
  font-family: 'QCF_P279';
  src: url('./fonts/QCF_P279.ttf');
}

@font-face {
  font-family: 'QCF_P280';
  src: url('./fonts/QCF_P280.ttf');
}

@font-face {
  font-family: 'QCF_P281';
  src: url('./fonts/QCF_P281.ttf');
}

@font-face {
  font-family: 'QCF_P282';
  src: url('./fonts/QCF_P282.ttf');
}

@font-face {
  font-family: 'QCF_P283';
  src: url('./fonts/QCF_P283.ttf');
}

@font-face {
  font-family: 'QCF_P284';
  src: url('./fonts/QCF_P284.ttf');
}

@font-face {
  font-family: 'QCF_P285';
  src: url('./fonts/QCF_P285.ttf');
}

@font-face {
  font-family: 'QCF_P286';
  src: url('./fonts/QCF_P286.ttf');
}

@font-face {
  font-family: 'QCF_P287';
  src: url('./fonts/QCF_P287.ttf');
}

@font-face {
  font-family: 'QCF_P288';
  src: url('./fonts/QCF_P288.ttf');
}

@font-face {
  font-family: 'QCF_P289';
  src: url('./fonts/QCF_P289.ttf');
}

@font-face {
  font-family: 'QCF_P290';
  src: url('./fonts/QCF_P290.ttf');
}

@font-face {
  font-family: 'QCF_P291';
  src: url('./fonts/QCF_P291.ttf');
}

@font-face {
  font-family: 'QCF_P292';
  src: url('./fonts/QCF_P292.ttf');
}

@font-face {
  font-family: 'QCF_P293';
  src: url('./fonts/QCF_P293.ttf');
}

@font-face {
  font-family: 'QCF_P294';
  src: url('./fonts/QCF_P294.ttf');
}

@font-face {
  font-family: 'QCF_P295';
  src: url('./fonts/QCF_P295.ttf');
}

@font-face {
  font-family: 'QCF_P296';
  src: url('./fonts/QCF_P296.ttf');
}

@font-face {
  font-family: 'QCF_P297';
  src: url('./fonts/QCF_P297.ttf');
}

@font-face {
  font-family: 'QCF_P298';
  src: url('./fonts/QCF_P298.ttf');
}

@font-face {
  font-family: 'QCF_P299';
  src: url('./fonts/QCF_P299.ttf');
}

@font-face {
  font-family: 'QCF_P300';
  src: url('./fonts/QCF_P300.ttf');
}

@font-face {
  font-family: 'QCF_P301';
  src: url('./fonts/QCF_P301.ttf');
}

@font-face {
  font-family: 'QCF_P302';
  src: url('./fonts/QCF_P302.ttf');
}

@font-face {
  font-family: 'QCF_P303';
  src: url('./fonts/QCF_P303.ttf');
}

@font-face {
  font-family: 'QCF_P304';
  src: url('./fonts/QCF_P304.ttf');
}

@font-face {
  font-family: 'QCF_P305';
  src: url('./fonts/QCF_P305.ttf');
}

@font-face {
  font-family: 'QCF_P306';
  src: url('./fonts/QCF_P306.ttf');
}

@font-face {
  font-family: 'QCF_P307';
  src: url('./fonts/QCF_P307.ttf');
}

@font-face {
  font-family: 'QCF_P308';
  src: url('./fonts/QCF_P308.ttf');
}

@font-face {
  font-family: 'QCF_P309';
  src: url('./fonts/QCF_P309.ttf');
}

@font-face {
  font-family: 'QCF_P310';
  src: url('./fonts/QCF_P310.ttf');
}

@font-face {
  font-family: 'QCF_P311';
  src: url('./fonts/QCF_P311.ttf');
}

@font-face {
  font-family: 'QCF_P312';
  src: url('./fonts/QCF_P312.ttf');
}

@font-face {
  font-family: 'QCF_P313';
  src: url('./fonts/QCF_P313.ttf');
}

@font-face {
  font-family: 'QCF_P314';
  src: url('./fonts/QCF_P314.ttf');
}

@font-face {
  font-family: 'QCF_P315';
  src: url('./fonts/QCF_P315.ttf');
}

@font-face {
  font-family: 'QCF_P316';
  src: url('./fonts/QCF_P316.ttf');
}

@font-face {
  font-family: 'QCF_P317';
  src: url('./fonts/QCF_P317.ttf');
}

@font-face {
  font-family: 'QCF_P318';
  src: url('./fonts/QCF_P318.ttf');
}

@font-face {
  font-family: 'QCF_P319';
  src: url('./fonts/QCF_P319.ttf');
}

@font-face {
  font-family: 'QCF_P320';
  src: url('./fonts/QCF_P320.ttf');
}

@font-face {
  font-family: 'QCF_P321';
  src: url('./fonts/QCF_P321.ttf');
}

@font-face {
  font-family: 'QCF_P322';
  src: url('./fonts/QCF_P322.ttf');
}

@font-face {
  font-family: 'QCF_P323';
  src: url('./fonts/QCF_P323.ttf');
}

@font-face {
  font-family: 'QCF_P324';
  src: url('./fonts/QCF_P324.ttf');
}

@font-face {
  font-family: 'QCF_P325';
  src: url('./fonts/QCF_P325.ttf');
}

@font-face {
  font-family: 'QCF_P326';
  src: url('./fonts/QCF_P326.ttf');
}

@font-face {
  font-family: 'QCF_P327';
  src: url('./fonts/QCF_P327.ttf');
}

@font-face {
  font-family: 'QCF_P328';
  src: url('./fonts/QCF_P328.ttf');
}

@font-face {
  font-family: 'QCF_P329';
  src: url('./fonts/QCF_P329.ttf');
}

@font-face {
  font-family: 'QCF_P330';
  src: url('./fonts/QCF_P330.ttf');
}

@font-face {
  font-family: 'QCF_P331';
  src: url('./fonts/QCF_P331.ttf');
}

@font-face {
  font-family: 'QCF_P332';
  src: url('./fonts/QCF_P332.ttf');
}

@font-face {
  font-family: 'QCF_P333';
  src: url('./fonts/QCF_P333.ttf');
}

@font-face {
  font-family: 'QCF_P334';
  src: url('./fonts/QCF_P334.ttf');
}

@font-face {
  font-family: 'QCF_P335';
  src: url('./fonts/QCF_P335.ttf');
}

@font-face {
  font-family: 'QCF_P336';
  src: url('./fonts/QCF_P336.ttf');
}

@font-face {
  font-family: 'QCF_P337';
  src: url('./fonts/QCF_P337.ttf');
}

@font-face {
  font-family: 'QCF_P338';
  src: url('./fonts/QCF_P338.ttf');
}

@font-face {
  font-family: 'QCF_P339';
  src: url('./fonts/QCF_P339.ttf');
}

@font-face {
  font-family: 'QCF_P340';
  src: url('./fonts/QCF_P340.ttf');
}

@font-face {
  font-family: 'QCF_P341';
  src: url('./fonts/QCF_P341.ttf');
}

@font-face {
  font-family: 'QCF_P342';
  src: url('./fonts/QCF_P342.ttf');
}

@font-face {
  font-family: 'QCF_P343';
  src: url('./fonts/QCF_P343.ttf');
}

@font-face {
  font-family: 'QCF_P344';
  src: url('./fonts/QCF_P344.ttf');
}

@font-face {
  font-family: 'QCF_P345';
  src: url('./fonts/QCF_P345.ttf');
}

@font-face {
  font-family: 'QCF_P346';
  src: url('./fonts/QCF_P346.ttf');
}

@font-face {
  font-family: 'QCF_P347';
  src: url('./fonts/QCF_P347.ttf');
}

@font-face {
  font-family: 'QCF_P348';
  src: url('./fonts/QCF_P348.ttf');
}

@font-face {
  font-family: 'QCF_P349';
  src: url('./fonts/QCF_P349.ttf');
}

@font-face {
  font-family: 'QCF_P350';
  src: url('./fonts/QCF_P350.ttf');
}

@font-face {
  font-family: 'QCF_P351';
  src: url('./fonts/QCF_P351.ttf');
}

@font-face {
  font-family: 'QCF_P352';
  src: url('./fonts/QCF_P352.ttf');
}

@font-face {
  font-family: 'QCF_P353';
  src: url('./fonts/QCF_P353.ttf');
}

@font-face {
  font-family: 'QCF_P354';
  src: url('./fonts/QCF_P354.ttf');
}

@font-face {
  font-family: 'QCF_P355';
  src: url('./fonts/QCF_P355.ttf');
}

@font-face {
  font-family: 'QCF_P356';
  src: url('./fonts/QCF_P356.ttf');
}

@font-face {
  font-family: 'QCF_P357';
  src: url('./fonts/QCF_P357.ttf');
}

@font-face {
  font-family: 'QCF_P358';
  src: url('./fonts/QCF_P358.ttf');
}

@font-face {
  font-family: 'QCF_P359';
  src: url('./fonts/QCF_P359.ttf');
}

@font-face {
  font-family: 'QCF_P360';
  src: url('./fonts/QCF_P360.ttf');
}

@font-face {
  font-family: 'QCF_P361';
  src: url('./fonts/QCF_P361.ttf');
}

@font-face {
  font-family: 'QCF_P362';
  src: url('./fonts/QCF_P362.ttf');
}

@font-face {
  font-family: 'QCF_P363';
  src: url('./fonts/QCF_P363.ttf');
}

@font-face {
  font-family: 'QCF_P364';
  src: url('./fonts/QCF_P364.ttf');
}

@font-face {
  font-family: 'QCF_P365';
  src: url('./fonts/QCF_P365.ttf');
}

@font-face {
  font-family: 'QCF_P366';
  src: url('./fonts/QCF_P366.ttf');
}

@font-face {
  font-family: 'QCF_P367';
  src: url('./fonts/QCF_P367.ttf');
}

@font-face {
  font-family: 'QCF_P368';
  src: url('./fonts/QCF_P368.ttf');
}

@font-face {
  font-family: 'QCF_P369';
  src: url('./fonts/QCF_P369.ttf');
}

@font-face {
  font-family: 'QCF_P370';
  src: url('./fonts/QCF_P370.ttf');
}

@font-face {
  font-family: 'QCF_P371';
  src: url('./fonts/QCF_P371.ttf');
}

@font-face {
  font-family: 'QCF_P372';
  src: url('./fonts/QCF_P372.ttf');
}

@font-face {
  font-family: 'QCF_P373';
  src: url('./fonts/QCF_P373.ttf');
}

@font-face {
  font-family: 'QCF_P374';
  src: url('./fonts/QCF_P374.ttf');
}

@font-face {
  font-family: 'QCF_P375';
  src: url('./fonts/QCF_P375.ttf');
}

@font-face {
  font-family: 'QCF_P376';
  src: url('./fonts/QCF_P376.ttf');
}

@font-face {
  font-family: 'QCF_P377';
  src: url('./fonts/QCF_P377.ttf');
}

@font-face {
  font-family: 'QCF_P378';
  src: url('./fonts/QCF_P378.ttf');
}

@font-face {
  font-family: 'QCF_P379';
  src: url('./fonts/QCF_P379.ttf');
}

@font-face {
  font-family: 'QCF_P380';
  src: url('./fonts/QCF_P380.ttf');
}

@font-face {
  font-family: 'QCF_P381';
  src: url('./fonts/QCF_P381.ttf');
}

@font-face {
  font-family: 'QCF_P382';
  src: url('./fonts/QCF_P382.ttf');
}

@font-face {
  font-family: 'QCF_P383';
  src: url('./fonts/QCF_P383.ttf');
}

@font-face {
  font-family: 'QCF_P384';
  src: url('./fonts/QCF_P384.ttf');
}

@font-face {
  font-family: 'QCF_P385';
  src: url('./fonts/QCF_P385.ttf');
}

@font-face {
  font-family: 'QCF_P386';
  src: url('./fonts/QCF_P386.ttf');
}

@font-face {
  font-family: 'QCF_P387';
  src: url('./fonts/QCF_P387.ttf');
}

@font-face {
  font-family: 'QCF_P388';
  src: url('./fonts/QCF_P388.ttf');
}

@font-face {
  font-family: 'QCF_P389';
  src: url('./fonts/QCF_P389.ttf');
}

@font-face {
  font-family: 'QCF_P390';
  src: url('./fonts/QCF_P390.ttf');
}

@font-face {
  font-family: 'QCF_P391';
  src: url('./fonts/QCF_P391.ttf');
}

@font-face {
  font-family: 'QCF_P392';
  src: url('./fonts/QCF_P392.ttf');
}

@font-face {
  font-family: 'QCF_P393';
  src: url('./fonts/QCF_P393.ttf');
}

@font-face {
  font-family: 'QCF_P394';
  src: url('./fonts/QCF_P394.ttf');
}

@font-face {
  font-family: 'QCF_P395';
  src: url('./fonts/QCF_P395.ttf');
}

@font-face {
  font-family: 'QCF_P396';
  src: url('./fonts/QCF_P396.ttf');
}

@font-face {
  font-family: 'QCF_P397';
  src: url('./fonts/QCF_P397.ttf');
}

@font-face {
  font-family: 'QCF_P398';
  src: url('./fonts/QCF_P398.ttf');
}

@font-face {
  font-family: 'QCF_P399';
  src: url('./fonts/QCF_P399.ttf');
}

@font-face {
  font-family: 'QCF_P400';
  src: url('./fonts/QCF_P400.ttf');
}

@font-face {
  font-family: 'QCF_P401';
  src: url('./fonts/QCF_P401.ttf');
}

@font-face {
  font-family: 'QCF_P402';
  src: url('./fonts/QCF_P402.ttf');
}

@font-face {
  font-family: 'QCF_P403';
  src: url('./fonts/QCF_P403.ttf');
}

@font-face {
  font-family: 'QCF_P404';
  src: url('./fonts/QCF_P404.ttf');
}

@font-face {
  font-family: 'QCF_P405';
  src: url('./fonts/QCF_P405.ttf');
}

@font-face {
  font-family: 'QCF_P406';
  src: url('./fonts/QCF_P406.ttf');
}

@font-face {
  font-family: 'QCF_P407';
  src: url('./fonts/QCF_P407.ttf');
}

@font-face {
  font-family: 'QCF_P408';
  src: url('./fonts/QCF_P408.ttf');
}

@font-face {
  font-family: 'QCF_P409';
  src: url('./fonts/QCF_P409.ttf');
}

@font-face {
  font-family: 'QCF_P410';
  src: url('./fonts/QCF_P410.ttf');
}

@font-face {
  font-family: 'QCF_P411';
  src: url('./fonts/QCF_P411.ttf');
}

@font-face {
  font-family: 'QCF_P412';
  src: url('./fonts/QCF_P412.ttf');
}

@font-face {
  font-family: 'QCF_P413';
  src: url('./fonts/QCF_P413.ttf');
}

@font-face {
  font-family: 'QCF_P414';
  src: url('./fonts/QCF_P414.ttf');
}

@font-face {
  font-family: 'QCF_P415';
  src: url('./fonts/QCF_P415.ttf');
}

@font-face {
  font-family: 'QCF_P416';
  src: url('./fonts/QCF_P416.ttf');
}

@font-face {
  font-family: 'QCF_P417';
  src: url('./fonts/QCF_P417.ttf');
}

@font-face {
  font-family: 'QCF_P418';
  src: url('./fonts/QCF_P418.ttf');
}

@font-face {
  font-family: 'QCF_P419';
  src: url('./fonts/QCF_P419.ttf');
}

@font-face {
  font-family: 'QCF_P420';
  src: url('./fonts/QCF_P420.ttf');
}

@font-face {
  font-family: 'QCF_P421';
  src: url('./fonts/QCF_P421.ttf');
}

@font-face {
  font-family: 'QCF_P422';
  src: url('./fonts/QCF_P422.ttf');
}

@font-face {
  font-family: 'QCF_P423';
  src: url('./fonts/QCF_P423.ttf');
}

@font-face {
  font-family: 'QCF_P424';
  src: url('./fonts/QCF_P424.ttf');
}

@font-face {
  font-family: 'QCF_P425';
  src: url('./fonts/QCF_P425.ttf');
}

@font-face {
  font-family: 'QCF_P426';
  src: url('./fonts/QCF_P426.ttf');
}

@font-face {
  font-family: 'QCF_P427';
  src: url('./fonts/QCF_P427.ttf');
}

@font-face {
  font-family: 'QCF_P428';
  src: url('./fonts/QCF_P428.ttf');
}

@font-face {
  font-family: 'QCF_P429';
  src: url('./fonts/QCF_P429.ttf');
}

@font-face {
  font-family: 'QCF_P430';
  src: url('./fonts/QCF_P430.ttf');
}

@font-face {
  font-family: 'QCF_P431';
  src: url('./fonts/QCF_P431.ttf');
}

@font-face {
  font-family: 'QCF_P432';
  src: url('./fonts/QCF_P432.ttf');
}

@font-face {
  font-family: 'QCF_P433';
  src: url('./fonts/QCF_P433.ttf');
}

@font-face {
  font-family: 'QCF_P434';
  src: url('./fonts/QCF_P434.ttf');
}

@font-face {
  font-family: 'QCF_P435';
  src: url('./fonts/QCF_P435.ttf');
}

@font-face {
  font-family: 'QCF_P436';
  src: url('./fonts/QCF_P436.ttf');
}

@font-face {
  font-family: 'QCF_P437';
  src: url('./fonts/QCF_P437.ttf');
}

@font-face {
  font-family: 'QCF_P438';
  src: url('./fonts/QCF_P438.ttf');
}

@font-face {
  font-family: 'QCF_P439';
  src: url('./fonts/QCF_P439.ttf');
}

@font-face {
  font-family: 'QCF_P440';
  src: url('./fonts/QCF_P440.ttf');
}

@font-face {
  font-family: 'QCF_P441';
  src: url('./fonts/QCF_P441.ttf');
}

@font-face {
  font-family: 'QCF_P442';
  src: url('./fonts/QCF_P442.ttf');
}

@font-face {
  font-family: 'QCF_P443';
  src: url('./fonts/QCF_P443.ttf');
}

@font-face {
  font-family: 'QCF_P444';
  src: url('./fonts/QCF_P444.ttf');
}

@font-face {
  font-family: 'QCF_P445';
  src: url('./fonts/QCF_P445.ttf');
}

@font-face {
  font-family: 'QCF_P446';
  src: url('./fonts/QCF_P446.ttf');
}

@font-face {
  font-family: 'QCF_P447';
  src: url('./fonts/QCF_P447.ttf');
}

@font-face {
  font-family: 'QCF_P448';
  src: url('./fonts/QCF_P448.ttf');
}

@font-face {
  font-family: 'QCF_P449';
  src: url('./fonts/QCF_P449.ttf');
}

@font-face {
  font-family: 'QCF_P450';
  src: url('./fonts/QCF_P450.ttf');
}

@font-face {
  font-family: 'QCF_P451';
  src: url('./fonts/QCF_P451.ttf');
}

@font-face {
  font-family: 'QCF_P452';
  src: url('./fonts/QCF_P452.ttf');
}

@font-face {
  font-family: 'QCF_P453';
  src: url('./fonts/QCF_P453.ttf');
}

@font-face {
  font-family: 'QCF_P454';
  src: url('./fonts/QCF_P454.ttf');
}

@font-face {
  font-family: 'QCF_P455';
  src: url('./fonts/QCF_P455.ttf');
}

@font-face {
  font-family: 'QCF_P456';
  src: url('./fonts/QCF_P456.ttf');
}

@font-face {
  font-family: 'QCF_P457';
  src: url('./fonts/QCF_P457.ttf');
}

@font-face {
  font-family: 'QCF_P458';
  src: url('./fonts/QCF_P458.ttf');
}

@font-face {
  font-family: 'QCF_P459';
  src: url('./fonts/QCF_P459.ttf');
}

@font-face {
  font-family: 'QCF_P460';
  src: url('./fonts/QCF_P460.ttf');
}

@font-face {
  font-family: 'QCF_P461';
  src: url('./fonts/QCF_P461.ttf');
}

@font-face {
  font-family: 'QCF_P462';
  src: url('./fonts/QCF_P462.ttf');
}

@font-face {
  font-family: 'QCF_P463';
  src: url('./fonts/QCF_P463.ttf');
}

@font-face {
  font-family: 'QCF_P464';
  src: url('./fonts/QCF_P464.ttf');
}

@font-face {
  font-family: 'QCF_P465';
  src: url('./fonts/QCF_P465.ttf');
}

@font-face {
  font-family: 'QCF_P466';
  src: url('./fonts/QCF_P466.ttf');
}

@font-face {
  font-family: 'QCF_P467';
  src: url('./fonts/QCF_P467.ttf');
}

@font-face {
  font-family: 'QCF_P468';
  src: url('./fonts/QCF_P468.ttf');
}

@font-face {
  font-family: 'QCF_P469';
  src: url('./fonts/QCF_P469.ttf');
}

@font-face {
  font-family: 'QCF_P470';
  src: url('./fonts/QCF_P470.ttf');
}

@font-face {
  font-family: 'QCF_P471';
  src: url('./fonts/QCF_P471.ttf');
}

@font-face {
  font-family: 'QCF_P472';
  src: url('./fonts/QCF_P472.ttf');
}

@font-face {
  font-family: 'QCF_P473';
  src: url('./fonts/QCF_P473.ttf');
}

@font-face {
  font-family: 'QCF_P474';
  src: url('./fonts/QCF_P474.ttf');
}

@font-face {
  font-family: 'QCF_P475';
  src: url('./fonts/QCF_P475.ttf');
}

@font-face {
  font-family: 'QCF_P476';
  src: url('./fonts/QCF_P476.ttf');
}

@font-face {
  font-family: 'QCF_P477';
  src: url('./fonts/QCF_P477.ttf');
}

@font-face {
  font-family: 'QCF_P478';
  src: url('./fonts/QCF_P478.ttf');
}

@font-face {
  font-family: 'QCF_P479';
  src: url('./fonts/QCF_P479.ttf');
}

@font-face {
  font-family: 'QCF_P480';
  src: url('./fonts/QCF_P480.ttf');
}

@font-face {
  font-family: 'QCF_P481';
  src: url('./fonts/QCF_P481.ttf');
}

@font-face {
  font-family: 'QCF_P482';
  src: url('./fonts/QCF_P482.ttf');
}

@font-face {
  font-family: 'QCF_P483';
  src: url('./fonts/QCF_P483.ttf');
}

@font-face {
  font-family: 'QCF_P484';
  src: url('./fonts/QCF_P484.ttf');
}

@font-face {
  font-family: 'QCF_P485';
  src: url('./fonts/QCF_P485.ttf');
}

@font-face {
  font-family: 'QCF_P486';
  src: url('./fonts/QCF_P486.ttf');
}

@font-face {
  font-family: 'QCF_P487';
  src: url('./fonts/QCF_P487.ttf');
}

@font-face {
  font-family: 'QCF_P488';
  src: url('./fonts/QCF_P488.ttf');
}

@font-face {
  font-family: 'QCF_P489';
  src: url('./fonts/QCF_P489.ttf');
}

@font-face {
  font-family: 'QCF_P490';
  src: url('./fonts/QCF_P490.ttf');
}

@font-face {
  font-family: 'QCF_P491';
  src: url('./fonts/QCF_P491.ttf');
}

@font-face {
  font-family: 'QCF_P492';
  src: url('./fonts/QCF_P492.ttf');
}

@font-face {
  font-family: 'QCF_P493';
  src: url('./fonts/QCF_P493.ttf');
}

@font-face {
  font-family: 'QCF_P494';
  src: url('./fonts/QCF_P494.ttf');
}

@font-face {
  font-family: 'QCF_P495';
  src: url('./fonts/QCF_P495.ttf');
}

@font-face {
  font-family: 'QCF_P496';
  src: url('./fonts/QCF_P496.ttf');
}

@font-face {
  font-family: 'QCF_P497';
  src: url('./fonts/QCF_P497.ttf');
}

@font-face {
  font-family: 'QCF_P498';
  src: url('./fonts/QCF_P498.ttf');
}

@font-face {
  font-family: 'QCF_P499';
  src: url('./fonts/QCF_P499.ttf');
}

@font-face {
  font-family: 'QCF_P500';
  src: url('./fonts/QCF_P500.ttf');
}

@font-face {
  font-family: 'QCF_P501';
  src: url('./fonts/QCF_P501.ttf');
}

@font-face {
  font-family: 'QCF_P502';
  src: url('./fonts/QCF_P502.ttf');
}

@font-face {
  font-family: 'QCF_P503';
  src: url('./fonts/QCF_P503.ttf');
}

@font-face {
  font-family: 'QCF_P504';
  src: url('./fonts/QCF_P504.ttf');
}

@font-face {
  font-family: 'QCF_P505';
  src: url('./fonts/QCF_P505.ttf');
}

@font-face {
  font-family: 'QCF_P506';
  src: url('./fonts/QCF_P506.ttf');
}

@font-face {
  font-family: 'QCF_P507';
  src: url('./fonts/QCF_P507.ttf');
}

@font-face {
  font-family: 'QCF_P508';
  src: url('./fonts/QCF_P508.ttf');
}

@font-face {
  font-family: 'QCF_P509';
  src: url('./fonts/QCF_P509.ttf');
}

@font-face {
  font-family: 'QCF_P510';
  src: url('./fonts/QCF_P510.ttf');
}

@font-face {
  font-family: 'QCF_P511';
  src: url('./fonts/QCF_P511.ttf');
}

@font-face {
  font-family: 'QCF_P512';
  src: url('./fonts/QCF_P512.ttf');
}

@font-face {
  font-family: 'QCF_P513';
  src: url('./fonts/QCF_P513.ttf');
}

@font-face {
  font-family: 'QCF_P514';
  src: url('./fonts/QCF_P514.ttf');
}

@font-face {
  font-family: 'QCF_P515';
  src: url('./fonts/QCF_P515.ttf');
}

@font-face {
  font-family: 'QCF_P516';
  src: url('./fonts/QCF_P516.ttf');
}

@font-face {
  font-family: 'QCF_P517';
  src: url('./fonts/QCF_P517.ttf');
}

@font-face {
  font-family: 'QCF_P518';
  src: url('./fonts/QCF_P518.ttf');
}

@font-face {
  font-family: 'QCF_P519';
  src: url('./fonts/QCF_P519.ttf');
}

@font-face {
  font-family: 'QCF_P520';
  src: url('./fonts/QCF_P520.ttf');
}

@font-face {
  font-family: 'QCF_P521';
  src: url('./fonts/QCF_P521.ttf');
}

@font-face {
  font-family: 'QCF_P522';
  src: url('./fonts/QCF_P522.ttf');
}

@font-face {
  font-family: 'QCF_P523';
  src: url('./fonts/QCF_P523.ttf');
}

@font-face {
  font-family: 'QCF_P524';
  src: url('./fonts/QCF_P524.ttf');
}

@font-face {
  font-family: 'QCF_P525';
  src: url('./fonts/QCF_P525.ttf');
}

@font-face {
  font-family: 'QCF_P526';
  src: url('./fonts/QCF_P526.ttf');
}

@font-face {
  font-family: 'QCF_P527';
  src: url('./fonts/QCF_P527.ttf');
}

@font-face {
  font-family: 'QCF_P528';
  src: url('./fonts/QCF_P528.ttf');
}

@font-face {
  font-family: 'QCF_P529';
  src: url('./fonts/QCF_P529.ttf');
}

@font-face {
  font-family: 'QCF_P530';
  src: url('./fonts/QCF_P530.ttf');
}

@font-face {
  font-family: 'QCF_P531';
  src: url('./fonts/QCF_P531.ttf');
}

@font-face {
  font-family: 'QCF_P532';
  src: url('./fonts/QCF_P532.ttf');
}

@font-face {
  font-family: 'QCF_P533';
  src: url('./fonts/QCF_P533.ttf');
}

@font-face {
  font-family: 'QCF_P534';
  src: url('./fonts/QCF_P534.ttf');
}

@font-face {
  font-family: 'QCF_P535';
  src: url('./fonts/QCF_P535.ttf');
}

@font-face {
  font-family: 'QCF_P536';
  src: url('./fonts/QCF_P536.ttf');
}

@font-face {
  font-family: 'QCF_P537';
  src: url('./fonts/QCF_P537.ttf');
}

@font-face {
  font-family: 'QCF_P538';
  src: url('./fonts/QCF_P538.ttf');
}

@font-face {
  font-family: 'QCF_P539';
  src: url('./fonts/QCF_P539.ttf');
}

@font-face {
  font-family: 'QCF_P540';
  src: url('./fonts/QCF_P540.ttf');
}

@font-face {
  font-family: 'QCF_P541';
  src: url('./fonts/QCF_P541.ttf');
}

@font-face {
  font-family: 'QCF_P542';
  src: url('./fonts/QCF_P542.ttf');
}

@font-face {
  font-family: 'QCF_P543';
  src: url('./fonts/QCF_P543.ttf');
}

@font-face {
  font-family: 'QCF_P544';
  src: url('./fonts/QCF_P544.ttf');
}

@font-face {
  font-family: 'QCF_P545';
  src: url('./fonts/QCF_P545.ttf');
}

@font-face {
  font-family: 'QCF_P546';
  src: url('./fonts/QCF_P546.ttf');
}

@font-face {
  font-family: 'QCF_P547';
  src: url('./fonts/QCF_P547.ttf');
}

@font-face {
  font-family: 'QCF_P548';
  src: url('./fonts/QCF_P548.ttf');
}

@font-face {
  font-family: 'QCF_P549';
  src: url('./fonts/QCF_P549.ttf');
}

@font-face {
  font-family: 'QCF_P550';
  src: url('./fonts/QCF_P550.ttf');
}

@font-face {
  font-family: 'QCF_P551';
  src: url('./fonts/QCF_P551.ttf');
}

@font-face {
  font-family: 'QCF_P552';
  src: url('./fonts/QCF_P552.ttf');
}

@font-face {
  font-family: 'QCF_P553';
  src: url('./fonts/QCF_P553.ttf');
}

@font-face {
  font-family: 'QCF_P554';
  src: url('./fonts/QCF_P554.ttf');
}

@font-face {
  font-family: 'QCF_P555';
  src: url('./fonts/QCF_P555.ttf');
}

@font-face {
  font-family: 'QCF_P556';
  src: url('./fonts/QCF_P556.ttf');
}

@font-face {
  font-family: 'QCF_P557';
  src: url('./fonts/QCF_P557.ttf');
}

@font-face {
  font-family: 'QCF_P558';
  src: url('./fonts/QCF_P558.ttf');
}

@font-face {
  font-family: 'QCF_P559';
  src: url('./fonts/QCF_P559.ttf');
}

@font-face {
  font-family: 'QCF_P560';
  src: url('./fonts/QCF_P560.ttf');
}

@font-face {
  font-family: 'QCF_P561';
  src: url('./fonts/QCF_P561.ttf');
}

@font-face {
  font-family: 'QCF_P562';
  src: url('./fonts/QCF_P562.ttf');
}

@font-face {
  font-family: 'QCF_P563';
  src: url('./fonts/QCF_P563.ttf');
}

@font-face {
  font-family: 'QCF_P564';
  src: url('./fonts/QCF_P564.ttf');
}

@font-face {
  font-family: 'QCF_P565';
  src: url('./fonts/QCF_P565.ttf');
}

@font-face {
  font-family: 'QCF_P566';
  src: url('./fonts/QCF_P566.ttf');
}

@font-face {
  font-family: 'QCF_P567';
  src: url('./fonts/QCF_P567.ttf');
}

@font-face {
  font-family: 'QCF_P568';
  src: url('./fonts/QCF_P568.ttf');
}

@font-face {
  font-family: 'QCF_P569';
  src: url('./fonts/QCF_P569.ttf');
}

@font-face {
  font-family: 'QCF_P570';
  src: url('./fonts/QCF_P570.ttf');
}

@font-face {
  font-family: 'QCF_P571';
  src: url('./fonts/QCF_P571.ttf');
}

@font-face {
  font-family: 'QCF_P572';
  src: url('./fonts/QCF_P572.ttf');
}

@font-face {
  font-family: 'QCF_P573';
  src: url('./fonts/QCF_P573.ttf');
}

@font-face {
  font-family: 'QCF_P574';
  src: url('./fonts/QCF_P574.ttf');
}

@font-face {
  font-family: 'QCF_P575';
  src: url('./fonts/QCF_P575.ttf');
}

@font-face {
  font-family: 'QCF_P576';
  src: url('./fonts/QCF_P576.ttf');
}

@font-face {
  font-family: 'QCF_P577';
  src: url('./fonts/QCF_P577.ttf');
}

@font-face {
  font-family: 'QCF_P578';
  src: url('./fonts/QCF_P578.ttf');
}

@font-face {
  font-family: 'QCF_P579';
  src: url('./fonts/QCF_P579.ttf');
}

@font-face {
  font-family: 'QCF_P580';
  src: url('./fonts/QCF_P580.ttf');
}

@font-face {
  font-family: 'QCF_P581';
  src: url('./fonts/QCF_P581.ttf');
}

@font-face {
  font-family: 'QCF_P582';
  src: url('./fonts/QCF_P582.ttf');
}

@font-face {
  font-family: 'QCF_P583';
  src: url('./fonts/QCF_P583.ttf');
}

@font-face {
  font-family: 'QCF_P584';
  src: url('./fonts/QCF_P584.ttf');
}

@font-face {
  font-family: 'QCF_P585';
  src: url('./fonts/QCF_P585.ttf');
}

@font-face {
  font-family: 'QCF_P586';
  src: url('./fonts/QCF_P586.ttf');
}

@font-face {
  font-family: 'QCF_P587';
  src: url('./fonts/QCF_P587.ttf');
}

@font-face {
  font-family: 'QCF_P588';
  src: url('./fonts/QCF_P588.ttf');
}

@font-face {
  font-family: 'QCF_P589';
  src: url('./fonts/QCF_P589.ttf');
}

@font-face {
  font-family: 'QCF_P590';
  src: url('./fonts/QCF_P590.ttf');
}

@font-face {
  font-family: 'QCF_P591';
  src: url('./fonts/QCF_P591.ttf');
}

@font-face {
  font-family: 'QCF_P592';
  src: url('./fonts/QCF_P592.ttf');
}

@font-face {
  font-family: 'QCF_P593';
  src: url('./fonts/QCF_P593.ttf');
}

@font-face {
  font-family: 'QCF_P594';
  src: url('./fonts/QCF_P594.ttf');
}

@font-face {
  font-family: 'QCF_P595';
  src: url('./fonts/QCF_P595.ttf');
}

@font-face {
  font-family: 'QCF_P596';
  src: url('./fonts/QCF_P596.ttf');
}

@font-face {
  font-family: 'QCF_P597';
  src: url('./fonts/QCF_P597.ttf');
}

@font-face {
  font-family: 'QCF_P598';
  src: url('./fonts/QCF_P598.ttf');
}

@font-face {
  font-family: 'QCF_P599';
  src: url('./fonts/QCF_P599.ttf');
}

@font-face {
  font-family: 'QCF_P600';
  src: url('./fonts/QCF_P600.ttf');
}

@font-face {
  font-family: 'QCF_P601';
  src: url('./fonts/QCF_P601.ttf');
}

@font-face {
  font-family: 'QCF_P602';
  src: url('./fonts/QCF_P602.ttf');
}

@font-face {
  font-family: 'QCF_P603';
  src: url('./fonts/QCF_P603.ttf');
}

@font-face {
  font-family: 'QCF_P604';
  src: url('./fonts/QCF_P604.ttf');
}